{% extends 'base.html.twig' %}

{% block title %}Reserva{% endblock %}

{% block body %}
    <h1>Reserva</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reserva.id }}</td>
            </tr>
            <tr>
                <th>FechaHora</th>
                <td>{{ reserva.fechaHora ? reserva.fechaHora|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lugar</th>
                <td>{{ reserva.lugar }}</td>
            </tr>
            <tr>
                <th>Cancelacion</th>
                <td>{{ reserva.cancelacion ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    {# <a href="{{ path('app_reserva_index') }}">back to list</a> #}

    <a href="{{ path('app_reserva_edit', {'id': reserva.id}) }}">edit</a>

    {{ include('reserva/_delete_form.html.twig') }}
{% endblock %}
