{% extends 'base.html.twig' %}
  
{% block title %}Reseñas restaurante{% endblock %}
  
{% block body %}
<div class="reviews-container">
  <div class="reviewMain">
    <div class="review-header">
      <h3 class="review-title">Reseñas de {{ restaurante.nombre }}</h3>
    </div>
    <div class="review-body">
      <p class="review-text">
        ¡Las reseñas son importantes! Click & Go valora las reseñas auténticas y solo las verifica si sabemos que el autor de la reseña ha visitado este negocio.
      </p>
    </div>
  </div>

  {% for opinion in restaurante.opinions %}
  <div class="review">
    <div class="review-header">
      <h3 class="review-title">{{ opinion.user }}</h3>
      {% set meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'] %}
      <p class="review-date">
        {{ opinion.fecha|date('d \\d\\e ') ~ meses[opinion.fecha|date('n') - 1] ~ opinion.fecha|date(' \\d\\e Y') }}
      </p>
    </div>
    <div class="review-body">
      <p class="review-text">{{ opinion.comentario }}</p>
      <div class="review-rating">
        {% for i in 1..5 %}
        {% if i <= opinion.valoracion %}
        <span class="star">&#9733;</span>
        {% else %}
        <span class="star">&#9734;</span>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if opinion.respuesta %}
    <div class="review-response" style="margin-top: 30px; margin-left: 120px;">
      <h6>Respuesta del restaurante:</h6>
      <p>{{ opinion.respuesta }}</p>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}